@keyframes dotLineAnimation {
  40% {
    transform: translateX(0px);
    opacity: 0.8
  }
  100% {
    transform: translateX(300px);
    opacity: 0
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 45%;
  margin: 5%;
  position: relative
}

.dot {
  display: inline-block;
  background: #666;
  height: 5px;
  width: 5px;
  opacity: 0;
  border-radius: 50%;
  animation: dotLineAnimation 4s infinite;
  transform: translateX(-300px);
  margin: 0 2px 0 2px;
}

.dot1 {
  composes: dot;
  animation-delay: .8s
}

.dot2 {
  composes: dot;
  animation-delay: .7s
}

.dot3 {
  composes: dot;
  animation-delay: .6s
}

.dot4 {
  composes: dot;
  animation-delay: .5s
}

.dot5 {
  composes: dot;
  animation-delay: .4s
}

.dot6 {
  composes: dot;
  animation-delay: .3s
}

.dot7 {
  composes: dot;
  animation-delay: .2s
}

.dot8 {
  composes: dot;
  animation-delay: .1s
}
