@keyframes focusFade {
  0% {
    opacity: 0.5
  }
  30% {
    opacity: 0.5
  }
  60% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 0.5
  }
}

.container {
  width: 50px;
  line-height: 10px;
  height: 50px;
}

.square {
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #666;
  margin: 3px;
  animation: focusFade 2.8s infinite;
}

.square2 {
  composes: square;
  animation-delay: .7s
}

.square3 {
  composes: square;
  animation-delay: 2.1s
}

.square4 {
  composes: square;
  animation-delay: 1.4s
}
